/node_modules
/public/hot
/public/storage
/public/.htaccess
/storage/*.key
/vendor
.env
.env.backup
.env.11
.env.200
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Kecualikan file .gitignore
!/storage/app/.gitignore
!/storage/framework/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore